<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.bearnapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/bearnlogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/bearnlogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".listofpurchases.ListOfPuchasesAdd"
            android:theme="@style/AppThemeSummary">

        </activity>
        <activity
            android:name=".listofpurchases.ListOfPurchases"
            android:theme="@style/AppThemeSummary"
            >

        </activity>
        <activity
            android:name=".setupchallenge.SetupChallenge"
            android:theme="@style/AppThemeSummary">

        </activity>
        <activity
            android:name=".challengecontest.ChallengeContest"
            android:theme="@style/AppThemeSummary"></activity>
        <activity
            android:name=".healthcreditscore.HealthCreditScore"
            android:theme="@style/AppThemeSummary">

        </activity>
        <activity
            android:name=".offers.Offer"
            android:theme="@style/AppThemeInviteFriends" />
        <activity
            android:name=".invite.InviteFreinds"
            android:theme="@style/AppThemeInviteFriends" />
        <activity
            android:name=".invite.Invite"
            android:theme="@style/AppThemeInvite"></activity>
        <activity
            android:name=".dashboard.Dashboard"
            android:theme="@style/AppThemeSummary">

        </activity>
        <activity
            android:name=".summary.Summary"
            android:theme="@style/AppThemeSummary" />
        <activity
            android:name=".connectdevices.ConnectDevice"
            android:theme="@style/AppThemeConnectDevice" />
        <activity android:name=".qusandanswer.OnBoardingTrailsActivity" >

        </activity>
        <activity android:name=".login.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>